/* 
=========================================================
=================== RESPONSIVE DESIGN ===================
=========================================================
*/

/*===================== max-width =====================*/

/* Laptop with HiDPI screen | 1440 x 900 */
/* Laptop with MDPI screen | 1280 x 800 */
/* iPad Pro | 1024 x 1366 */

/* iPad Mini / iPad | 768 x 1024 */
@media screen and (max-width: 768px) { 
  button { font-size: 100%; }

  header { height: 25vh; }

  header img { width: 50%; }

  section { height: auto; }

  .body-section { flex-direction: column; }

  .section-box { width: 40vh; }

  .intermediate {
    margin: 3vh;
    width: 30vh;
    flex-direction: row;
  }

  div.line {
    border-left: 0;
    border-top: dashed white; 
    width: 15vh;
    height: 0vh; 
  }

  .int-img { width: 8%; }

  .address { 
    width: 50%; 
    font-size: smaller;
  }

  footer { height: auto; }

  footer img { width: 50px; }

  .social-media-box { padding: 15px 0px; }

  .footer { padding: 3vh 0 0 0; }
}

/* Surface Duo | 540 x 720 */
@media screen and (max-width: 540px) {   
  h2 { font-size: small; }

  button { 
    font-size: 80%; 
    padding: 5px 15px;
  }

  header { height: 25vh; }

  header img { width: 50%; }

  section { height: auto; }

  .body-section { flex-direction: column; }

  .box { padding: 7px; }

  .address { 
    width: 60%; 
    font-size: 10px;
  }

  .social-media-box { 
    margin: 5px;
    padding: 20px 0px; 
  }

  footer img { width: 30px; }

  .footer { font-size: small; }
}

/* iPhone 6/7/8 Plus | 414 x 736 */  
@media screen and (max-width: 500px) {
  h2 { font-size: x-small; }
  
  button { font-size: 70%; }
  
  header img { width: 60%; }

  footer img { width: 20px; }

  .footer { font-size: x-small; }
}

/* Moto G4 | Galaxy S5 | 360 x 640 */
@media screen and (max-width: 360px) { 
  header img { width: 70%; }
}
