/* 
=========================================================
======================== GLOBAL =========================
=========================================================
*/
@font-face {
  font-family: 'Adelle';
  font-style: normal;
  src: url('../fonts/Adelle_Reg.otf') format('opentype');
}

@font-face {
  font-family: 'Adelle';
  font-style: bolder;
  src: url('../fonts/Adelle_ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Adelle';
  font-weight: bolder;
  font-style: italic;
  src: url('../fonts/Adelle_HeavyItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Adelle';
  font-style: italic;
  src: url('../fonts/Adelle_Italic.otf') format('opentype');
}

* {
  background-color: #3969DD;
  font-family: Adelle, serif;
  color: white;
  align-items: center;
}

table { margin: 0 8% 0; }

button {
  font-weight: bolder;
  border: white dashed ;
  padding: 10px 30px;
  font-size: 130%;
  cursor: pointer;
}

a { text-decoration: none; }

p { color: white; }

/* 
=========================================================
======================== HEADER ========================= 
=========================================================
*/
header {  
  display: flex;
  justify-content: center;
  height: 40vh;
}

header img { width: 35%; }

/* 
=========================================================
======================== SECTION ========================
=========================================================
*/
section { height: 27vh; }

.body-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
}

.box { padding: 15px; }

.intermediate {
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.line {
  border-left: dashed white; 
  height: 5vh; 
  margin: 1vh;
}

.int-img { width: 50%; }

.address {
  width: 65%;
  text-align: center;
}

/* 
=========================================================
========================= FOOTER ========================
=========================================================
*/
footer { height: 30vh; }

footer img { width: 60px; }

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-media-box { 
  margin: 10px; 
  font-size: smaller;
}

.footer { 
  text-align: center;
  padding: 12vh 0 0 0;
}

.footer a { font-style: bolder; }
